# outputs of any tools
playground/*

# Simulation folder 
Simulation/source_scripts/execute_wcte_sim.sh
Simulation/Stacking_Only_Problem

# Tools folder
/Tools_WCSim_12_5/christine
/Tools_WCSim_12_8/christine

# detector simulation folders
/Simulation/detector_hk/
/Simulation/detector_sk/
/Simulation/detector_wcte/

# output of jobs
*.log


