#processed file issued from the running of main.py
/pbs/home/c/cehrhardt/rootdataset_git/WCSimPackage/GraphDatasets/processed

#pycache
/pbs/home/c/cehrhardt/rootdataset_git/WCSimPackage/GraphDatasets/src/__pycache__